---
import "@//styles/global.css";
import { About, Contact, Experience, Hero, Navbar, Socials } from '@/components/section/home';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio | Samuel Rivadeneira</title>
  </head>
  <body class="min-h-screen bg-[#1E1B29] flex">
    <!-- Columna izquierda con redes -->
    <div class="flex flex-col justify-center px-4 sticky top-0 h-screen">
      <Socials client:load />
    </div>
    

    <!-- Columna derecha con el resto del contenido -->
    <div class="flex-1 flex flex-col">
      <Navbar />
      <Hero />
      <About />
      <Experience client:load />
      <Contact />
    </div>
  </body>
</html>
